.frame {
    width: 100%;
    height: 600px;
    position: relative
}

.frame hr {
    width: 100%;
    border: none;
    border-top: 5px dashed black;
    position: absolute;
    top: -0.5%;
    z-index: -1
}

.frame img {
    width: 100%;
    height: 100%
}

.left-a, .right-a {
    position: absolute;
    color: #fff;
    font-size: 2em;
    top: 50%;
    cursor: pointer
}

.left-a {
    left: 30px
}

.right-a {
    right: 30px
}

@media screen and (max-width: 1200px) {
    .frame {
        height: 550px
    }
}

@media screen and (max-width: 1000px) {
    .frame {
        height: 500px
    }
}

@media screen and (max-width: 800px) {
    .frame {
        height: 450px
    }
}

@media screen and (max-width: 600px) {
    .frame {
        height: 400px
    }
}